* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;

  a {
    text-decoration: none;
  }

  li {
    list-style-type: none;
  }

  body {
    background: var(--light-gray);
  }
}

:root {
  --primary: #04752d;
  --secondary : #acf241;
  --lb-color : #1f9aff;
  --dark : #2b2e30;
  --gray: #b8b8b8;
  --white:#f5f6f7;
  --light-gray: #e9e5e5;
}

header {
  padding:1rem;
  .nav-social {
    display: none;
  }

  .logo {
    display: none;
  }

  nav {
    display: none;
  }

  .menu-humberger{
      font-size: 2rem;
      font-weight: 900;
  }
}

.headline {

  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2rem 1rem 1rem;
  
  h1 {
    padding: 1rem 0rem 0rem;
    color: var(--lb-color);
    letter-spacing:0.0.4rem;
    line-height: 2rem;
    font-weight: 900;
  }

  h6 {
    color: var(--primary);
    line-height: 1rem;
    font-weight: 500;
    font-size: 1rem;
    text-align: right;
  }

  p {
    background: var(--gray);
    color: var(--dark);
    border: var(--white) solid 3px;
    padding: 1rem;
    text-align: justify;
    line-height: 1rem;
    font-weight: 400;
  }

  h3 {
    color: var(--dark);
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

    small {
    font-weight: 400;
    line-height: 1rem;
    font-size: 1rem;
    }
  }

}

.program {
  background-image: url(../images/bg-x1.jpg);
  margin: 0 !important;
  color: var(--white);
  padding: .5rem;

  h2 {
    text-align: center;
    padding: 1rem 0rem;
    div {
      border-top: 2px solid var(--secondary);
      width: 15%;
      display: flex;
      margin:1rem auto;
      padding: 0rem 0rem;
      font-weight: 200;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: .4rem;

    
    li {
      background: #d3d3d330;
      padding: 1rem;
      display: flex;
      align-items: center;
      gap:1rem;
      
      .Icon {
        color: var(--white);
        font-size: 1.7rem;
        flex: 0.2;
      }
      h3 {
        color: var(--secondary);
        font-size: 1.1rem;
        flex: 0.4;
      }

      p {
        text-align: justify;
        font-size: .8rem;
        flex: 1.3;
      }
    }

  }
  button {
    background: var(--primary);
    width:80%;
    margin: 1rem auto;
    padding: 1.2rem 0rem;
    display: flex;
    justify-content: center;
    color: var(--white);
    font-size: 1.2em;
    border: 0px;
    text-transform: uppercase;
  }
}

.hr {
  border-top: 2px solid var(--primary);
  width: 15%;
  display: flex;
  margin:1rem auto;
  padding: 0rem 0rem;
  font-weight: 200;
}

.guest {
  background: var(--white);
  padding: 1rem;

  h2 {
    text-align: center;
    padding: 1rem 0rem;

    div {
      border-top: 2px solid var(--primary);
      width: 15%;
      display: flex;
      margin:1rem auto;
      padding: 0rem 0rem;
      font-weight: 200;
    }
  }

  ul {
    li {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      margin-bottom: 0.8rem;
      
      .img-card {
        .profile {
          z-index: 1;
        }
      }

      h3 {
        color: var(--dark);
        padding: 0rem 0rem .5rem;
        font-weight: 600;
      }

      h6 {
        color: var(--primary);
        margin: 0rem 0rem .5rem;

        small {
          background: var(--lb-color);
          padding: .3rem .2rem;
          border-radius:0rem 0.9rem 0.9rem 0rem;
        }
      }

      hr {
        width: 10%;
        margin: 1rem 0rem 0rem;
      }

      p {
        text-align: justify;
        font-weight: 200;
        letter-spacing: 0.04rem;
        font-size: 1rem;
        margin-top: .4rem;
        
      }
    }
  }

  button {
    border: 1px var(--gray) solid;
    width:100%;
    margin: 1rem auto;
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    color: var(--primary);
    font-size: 1.2em;
    text-transform: uppercase;
    background: var(--white);

    i {
      margin-left: 0.5rem;
      color: var(--lb-color);
    }
  }
}

.partner {
  background: var(--dark);
  color: var(--white);

  h2 {
    text-align: center;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-around;
    padding: 1rem;
  }
}

// Desktop Version

@media screen and (min-width: 768px) {
  body {
    padding: 0rem 5rem;
  }
  
  header{
    display: flex;
    justify-content: center;
    
    & > div {
      flex:1;
    }
  
    .nav-social {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      padding:.6rem;
      background: var(--dark);
      
      ul {
        float: right;
        padding-right: 5rem;
        li {
          float: left;
          a {
            margin-right: 2rem;
            color: var(--white);
          }
        }
      }
    }
  }
}