* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
  --primary: #04752d;
  --secondary : #acf241;
  --lb-color : #1f9aff;
  --dark : #2b2e30;
  --gray: #b8b8b8;
  --white:#f5f6f7;
}